<!-- start custom head snippets -->


<!-- Snipcart scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="ZjI5NzkzYmMtYWEzYi00NmQ1LTgxNWMtNjU2YTAwN2NjMGM0NjM2MjM2Njc4NDgwODE2Nzc0"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
<!-- End of Snipcart scripts -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->